.agency{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.imgAgency{
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;

}
.agency-left {
    display: flex;
    justify-content: center;
    
}


.agencyhead{
    text-align: center;
    font-size: 42px;
    font-weight: 600;
    color:  rgb(205, 169, 50);
}

.descAgency{
    margin-top: 15px;
    font-weight: 14px;
    color: #333;
    padding: 10px;
}

.countContainer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 15px;
    align-items: center;
    
}

.count{
    height: 75px;
    width: 80%;
    background-color: lightgray;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 7px;
    box-shadow: 1px 1px 20px 1px rgb(223, 223, 223);
}

.countNumber {
    font-size: 30px;
    font-weight: bold;
}
@media screen and (min-width: 800px){
    .agency{
        flex-direction: row;
    }
    .agency-right {
        width: 50%;
       
    }
    .agency-left {
        display: flex;
        justify-content: center;
        width: 50%;
        align-items: center;
    }
    .imgAgency{
        height: 400px;
        width: 400px;
    }
    .countContainer {
        flex-direction: row;
    }
}