.singleBlog{
    margin-top: 120px;
    display: flex;
}

.sideList{
    flex: 2;
}

.detail{
    flex: 4;
}

@media screen and (max-width: 480px){
    .singleBlog{
        flex-direction: column;
    }
}