.getInTouch{
    display: flex;
    flex-direction: column;
}

.getLeft{
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.getImg{
    width: 75%;
    height: 70%;
    object-fit: cover;
    border-radius: 25%;
    opacity: .5;
}

.getRight{
    padding: 10px;
}

.rightHead{
    font-size: 28px;
    color: rgb(205, 169, 50);
    margin-left: 70px;
    font-weight: 500;
}

.getContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    flex-direction: column;
    background-color: rgba(127, 255, 212, 0.353);
    border-radius: 30px;
    width: 100%;
}

.getInput, .getBtn{
    height: 40px;
    width: 80%;
    font-weight: bold;
    margin: 20px;
    border: none;
    background-color: whitesmoke;
    padding-left: 15px;
    border-radius:   0px 20px 0px 20px;
}



.getInput:focus{
    outline: .1px solid gray;
}

.a{
    margin-top: 40px;
}
.textarea{
    height: 100px;
}
.getBtn{
    cursor: pointer;
    border: none;
    background-color:  rgb(205, 169, 50);
    color: white;
}

@media screen and (min-width: 800px) {
    .getInTouch{
        flex-direction: row;
     }
    .getLeft{
        display: flex;
        flex-direction: row;
        width: 50%;
    }
    .getRight{ 
        width: 50%;
    }
    .getContainer{
        margin: 10px;
        height: 100%;
    }

    .getInput, .getBtn{
        width: 70%;
    }
    .a{
        margin-top: 20px;
    }
}