.blog{
    display: flex;
    flex-direction: column;
}

.container{
    width: 40%;
    margin: 20px;
    display: flex;
    flex-direction: column;
}

.blogImg{
    height: 250px;
    width: 350px;
    object-fit: cover;
    border-radius: 25px;
}

.blogTitle{
    text-align: center;
}

.blogDate{
   display: flex;
   justify-content: center;
    margin: 10px;
}

.blogDesc{
    line-height: 24px;
    color: #444;
    margin-top: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient:vertical;
}