.header{
    margin-top: 90px;
    display: flex;
    padding: 40px;
    background-color: #0099ff;
    color: white;
    width: 100%;
}

.headerWrapper{
    width: 100%;
    display: flex;
}

.headerLeft{
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 50px;
}
.headerTitle{
    font-size: 20px;
    color:  rgb(205, 169, 50);
    margin: 30px;
}

.mainHeader{
    gap: 20px;
}

.headDesc{
    font-size: 50px;
    margin: 30px;
}

.descHeader{
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 3px;
    word-spacing: 5px;
    margin: 30px;
}

.btnHeader{
    margin-top: 50px;
    font-size: 20px;
}
.mainHeader {
    font-size: 1.3rem;
}
.headerLeft{
    /* display: flex;
    flex-direction: column; */
    
}
.descHeader {
}
.btnHeader{
    margin-top: 10px;
    padding: 12px;
    width: 150px;
    background-color: rgb(205, 169, 50);
    border: none;
    border-radius: 0px 25px 0px 25px;
    font-weight: 500;
    color: white;
    cursor: pointer;
}

.btnHeader:hover{
    background-color: rgb(16, 241, 23);
    border-radius: 25px 0px 25px 0px;
    transition: all 1s ease-in-out;
    transform: scale(1.2);
    transition: 0.5s;
}

.headerRight{
    flex: 1;
}

.headerImg{
    height: 100%;
    width: 100%;

    object-fit: cover;
    clip-path: polygon(100% 0%, 100% 51%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
}

@media screen and (max-width: 480px){
    .header{
        height: 100vh;
    }
    .headerRight{
        display: none;
    }
    .headerLeft{
        margin: 15px;
    }
    .descHeader{
        margin: 15px;
    }
    .headerTitle{
        margin: 15px;
    }
    .headDesc{
        margin: 15px;
    }
@media screen and (min-width: 568px ) and (max-width: 1000px){ 
    .headerLeft {
        width: 80%;
        display: flex;
        align-self: center;
        flex-direction: column;
    }
}
}
@media screen and (min-width: 1000px ) {
    .headerLeft {
        
    }
    .descHeader{ 
        width: 50%;
    }

}