.details{
    margin-top: 35px;
    display: flex;
    flex-direction: column;
}

.dImg{
    max-width: 90%;
    margin: 10px auto;
    height: 320px;
    border-radius: 10px;
}

.bTitle{
    font-weight: 600;
    color: #222;
    margin-top: 10px;
    text-align: center
}

.cont1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px;
}

.dDate{
    margin-left: 25px;
    color: gray;
    font-style: italic;
}

.authCont{
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: bold;
    margin-right: 25px;
}

.dDesc{
    font-size: 16px;
    color: #111;
    margin: 15px;
}

.dDesc::first-letter{
    margin-left: 50px;
    font-size: 28px;
}