<<<<<<< HEAD
.specialization{
    display: flex;
    height: 100vh;
    justify-content: center;
    margin: 20px;
}

.specialization > h2{
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    color:  rgb(205, 169, 50);
=======
.specialization {
    width: 100%;
    text-align: center;
>>>>>>> b9efcef054cacf5dede638810b21a667ade4f7a4
}