.navbar{
    display: flex;
    height: 90px;
    background-color: rgb(51, 13, 139);
    width: 100%;
    align-items: center;
    justify-content: space-between;
    color: white;
    position: fixed;
    top: 0;
    z-index: 999;
}

.scroll{
    background-color: white; 
    color:   rgb(65, 63, 86);
    font-weight: 700;
}
.left{
    flex: 1;
    display: flex;
    align-items: center;
    font-weight: bold;
    margin-left: 10px;
    gap: 5px;
}

.img{
    height: 35px;
    width: 35px;
    border-radius: 50%;
}

.right{
    flex: 1;
}

.rightNav{
    margin-right: 35px;
    text-transform: capitalize;
    font-size: larger;
    cursor: pointer;
}

 .btn{
    padding: 12px;
    width: 150px;
    background-color: rgb(205, 169, 50);
    border: none;
    border-radius: 0px 25px 0px 25px;
    font-weight: 500;
    color: white;
    transition: 0.5s;
}

.btn:hover{
    background-color: rgb(157, 157, 157);
    border-radius: 25px 0px 25px 0px;
}

.iconWrapper{
    display: none;
}

.icon{
    color: white;
    cursor: pointer;
}

.scrolling{
    color: rgb(0, 0, 1, 0);
    background-color:rgb(65, 63, 86);
}


@media screen and (max-width: 1200px){
    .a{
        display: none;
    }
    .b{
        display: flex;
        float: right;
    }
    .iconWrapper{
        display: flex;
        margin-right: 20px;
    }
}

@media screen and (max-width: 480px){
    .rightNav{
        display: none;
    }
    button{
        display: none;
    }

    .iconWrapper{
        display: flex;
        margin-right: 20px;
    }

}

